<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"></customErrors>
    </system.web>
  <connectionStrings>
    <add name="cnsicbo" connectionString="server=192.168.1.58;database=SICBONET;uid=sa;password=123456;" providerName="System.Data.SqlClient"/>
    <add name="cnsicboHistorico" connectionString="server=192.168.1.149;database=SICBONET;uid=sa;password=123456;" providerName="System.Data.SqlClient"/>
    <add name="cnsicboHca" connectionString="server=192.168.1.58;database=HCE_AMB_CBO;uid=sa;password=123456;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>
